table, th, td {
    border: 1px solid blue;
    border-collapse: collapse;
    text-align: center;
  }
  #orange
  {
    background-color: orange;
  }
  #yellow
  {
    background-color: yellow;
  }
  
  th:nth-child(1)
  {
    background-color: rgb(17, 121, 46);
    color:black;
  }
  td:nth-child(1)
  {
    background-color: rgb(232, 245, 120);
    color:black;
  }
  td:nth-child(2)
  {
    background-color: rgb(232, 245, 120);
    color:black;
  }
  td:nth-child(3)
  {
    background-color: rgb(232, 245, 120);
    color:black;
  }
  td:nth-child(4)
  {
    background-color: rgb(232, 245, 120);
    color:black;
  }
 

 

